.todo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  list-style: none;
  border: 3px black solid;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.todo-anim-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}